* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 90%;
    max-width: 1280px;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 16px 0;
    text-align: center;
}

header img {
    height: 80px;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 8px;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    padding: 32px;
}

.section h2 {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 16px;
}

.section p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 16px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    max-width: 280px;
}

.service h3 {
    color: #007BFF;
    margin-bottom: 8px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.form-item {
    display: flex;
    justify-content: center; 
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

.formitem {
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#contato .container {
    -moz-box-align: center;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px 0;
    margin-top: 16px;
}